<% provide(:title, "Blogs Page")%>

<p id="notice"><%= notice %></p>

<div class="jumbotron indexPicture">
  <div class="container text-center">
    <h1>POSTS</h1>      
    <p>Welcome to all my blog posts! </p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date</th>
    <tr></tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= truncate(post.content, length: 100) { link_to "Continue", post } %></td>
        <td><%= post.date.to_s(:long) %></td>
        <td colspan="3"></td>
        <%#<td><%= link_to 'Show', post ></td>
        <td><%= link_to 'Edit', edit_post_path(post) ></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } ></td>%>
      </tr>
      <tr rowspam="3"></tr>
    <% end %>
  </tbody>
</table>
