<% provide(:title, "Blog Content")%>

<p id="notice"><%= notice %></p>

<div class="blogTitle">
  <br>
  <%= @post.title %>
  <br>
  <br>
  <br>
</div>

<div>
  <strong class="blogShow">Author:</strong>
  <%= User.find(@post.user_id).first_name %> <%= User.find(@post.user_id).last_name %>
  <span class="blogDate">
    <%= @post.date.to_s(:long) %>
  </span>
  <br>
  <br>
</div>

<div>
  <strong class="blogShow">Category:</strong>
  <span><%= Category.find(@post.category_id).category_name %></span>
  <br>
  <br>
</div>

<div class="container">
  <%= @post.content %>
  <br>
  <br>
</div>

<div>
  <strong class="blogShow">Tag(s):</strong>
  <% @post.tags.each do |tag|%>
    <span class="badge badge-pill badge-warning"><%= tag.tag_name %></span>
  <% end %>
  <br>
  <br>
</div>

<div>
  <strong class="blogShow">Comments:</strong>
  <% @comments.each do |comment| %>
    <br>
    <br>
    <%= comment.user.first_name %>: <%= comment.comment %>
    <br>
    <br>
  <% end %>
  <br>
  <br>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
